.form_body {
  background-color: rgb(154, 186, 218);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
h1 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form {
  width: 50%;
  margin: 0 auto;
}

input {
  margin: 10px;
  outline: none;
}

input[type="text"] {
  width: 50%;
  height: 25px;
}
#state {
  margin-left: 46px;
}
#country,
#address,
#pincode {
  margin-left: 30px;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin: 50px, auto;
  background-color: burlywood;
}
table,
th,
td {
  border: 2px solid black;
  padding: 5px;
}

th {
  /* font-size: 20px; */
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #004d00;
}
td {
  font-size: 25px;
  color: crimson;
  font-weight: 400;
  font-family: Georgia, "Times New Roman", Times, serif;
}
